#df.drop() - we remove entire column which contained the missing value

#df.dropna() - we perticularly remove the row which conatained the missing value from dataset

#df.fillna() - we calculate the median and place that median in missing value place using fillna()

In [1]:
import pandas as pd # import neccessary library
import numpy as np
import os

In [2]:
os.chdir("E:\\pandas") # change working directory if necessory

In [3]:
df=pd.read_csv("housing.csv") # import data
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600,NEAR BAY
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500,NEAR BAY
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100,NEAR BAY
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300,NEAR BAY
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200,NEAR BAY

In [4]:
df.info() # chech information about data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null int64
total_rooms           20640 non-null int64
total_bedrooms        20433 non-null float64
population            20640 non-null int64
households            20640 non-null int64
median_income         20640 non-null float64
median_house_value    20640 non-null int64
ocean_proximity       20640 non-null object
dtypes: float64(4), int64(5), object(1)
memory usage: 1.6+ MB

In [5]:
A=df

In [6]:
A=A.drop("total_bedrooms", axis=1)

In [7]:
A.head()

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,322,126,8.3252,452600,NEAR BAY
1,-122.22,37.86,21,7099,2401,1138,8.3014,358500,NEAR BAY
2,-122.24,37.85,52,1467,496,177,7.2574,352100,NEAR BAY
3,-122.25,37.85,52,1274,558,219,5.6431,341300,NEAR BAY
4,-122.25,37.85,52,1627,565,259,3.8462,342200,NEAR BAY

In [8]:
B=df

In [9]:
B=B.dropna(subset=["total_bedrooms"])

In [10]:
B.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20433 non-null float64
latitude              20433 non-null float64
housing_median_age    20433 non-null int64
total_rooms           20433 non-null int64
total_bedrooms        20433 non-null float64
population            20433 non-null int64
households            20433 non-null int64
median_income         20433 non-null float64
median_house_value    20433 non-null int64
ocean_proximity       20433 non-null object
dtypes: float64(4), int64(5), object(1)
memory usage: 1.7+ MB

In [11]:
C=df

In [12]:
median=C["total_bedrooms"].median()
C=C.fillna(median)

In [16]:
C["total_bedrooms"].shape

(20640,)